


.mascot {
    width: 200px;
    height: auto;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.mascotBig {
    width: 400px;
    height: auto;
    position: auto;
}

.mascotAbout {
    width: 250px;
    height: auto;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

body {
    background-color:lightgrey;
    font-family: 'Press Start 2P', monospace;
    font-size: small;
    line-height: 15px;
}

input[type="text"] {
    font-family: 'Press Start 2P', monospace;
    font-size: small;
    color: gray;
    border: 3px solid black;
    width: 300px;
    height: 12px;
}
button {
    font-family: inherit;
    font-size: small;
    border: 1.5px solid black;
    background-color: white;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: lightgray;
}

.Items {
    border: solid black 2px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #a9a9a9;
    padding-left: 5px;
    height: 500px;
    width: 600px;
}

.links {
    font-size: 12px;
    line-height: 20px;
    margin-left: 5px;
}
 
.Items::-webkit-scrollbar {
    width: 12px;
}

.Items::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border: 1px solid black;
}

.Items::-webkit-scrollbar-track {
    background-color:  gray;
}

.Subjects {
    text-decoration:underline;
}

.line {
    position:relative;
    left: 90%;
    height: 100vh;
    background-color: black;
    width: 2px;
    margin: 0 auto;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.left, .right {

}
.right {
    font-family: VT323, monospace;
    font-size: large;
    padding: 10px;
}
.seperator {
    width: 3px;
    background-color: black;
}

.newTopics {
    line-height: 3px;
}

.mail {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-decoration:  peru;
}